*{
  margin:0;
  padding:0
}
ul,li,ol,a{
list-style: none;
}
a{
color:#312927;
text-decoration: none;
}
a:hover{
color:red
}
body{
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}